@charset "UTF-8";

body {
	font-family: 'Nanum Gothic', sans-serif;
}
/* ctrl + shift + / 
   주석태그 단축키(html도 동일) */
h1 {
	background-color: #ccc;
	border-left: 12px solid #335;
	padding: 0.2em 0.5em;
	color: #333;
}

h2 {
	border-bottom: 3px dashed;
	color: #246;
}

section {
	border: 4px solid #ccc;
	margin: 3em 1em;
	padding: 1em;
}

/* 1. font-size: ; 글자 크기  */
#sec01 {
	font-size: 10px;
}

.fs01 {
	font-size: 16px;
}

.fs02 {
	font-size: 12px;
}

.fs03 {
	font-size: 20px;
}

.fs04 {
	font-size: 1em;
}

.fs05 {
	font-size: 0.75em;
}

.fs06 {
	font-size: 1.25em;
}

.fs07 {
	font-size: 1rem;
}

.fs08 {
	font-size: 0.75rem;
}

.fs09 {
	font-size: 1.25rem;
}

/* 2.font-weight 글자 두께 */
.h2-n {
	font-weight: normal;
}

.fw01 {
	font-weight: 100;
}

.fw02 {
	font-weight: 200;
}

.fw03 {
	font-weight: 300;
}

.fw04 {
	font-weight: 400;
}

.fw05 {
	font-weight: 500;
}

.fw06 {
	font-weight: 600;
}

.fw07 {
	font-weight: 700;
}

.fw08 {
	font-weight: 800;
}

.fw09 {
	font-weight: 900;
}

.fw10 {
	font-weight: bold;
}

.fw11 {
	font-weight: normal;
	color: brown;
}

/* 3.font-style 글자 기울기 */
.fst01 {
	font-style: italic;
}

.fst02 {
	font-style: oblique;
}

.fst03 {
	font-style: normal;
}

/* 4.font-family 글꼴(서체) */
.ffm01 {
	font-family: "Garamond", "Georgia", "Times New Roman", serif;
}

.ffm02 {
	font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

.ffm03 {
	font-family: "Lucida Console", "Monaco", monospace;
}

/* https://fonts.google.com 구글웹폰트 적용하기/
 font-family: 'Nanum Brush Script', cursive;
 font-family: 'Nanum Gothic', sans-serif;
 font-family: 'Noto Serif KR', serif; 
  */
.ffm04 {
	font-family: 'Nanum Brush Script', cursive;
}

.ffm05 {
	font-family: 'Noto Serif KR', serif;
}