@charset "UTF-8";
/* style.css는 수업시간 공용 스타일 파일 */
body {
	font-family: 'Nanum Gothic', sans-serif;
}
/* ctrl + shift + / 
   주석태그 단축키(html도 동일) */
h1 {
	background-color: #ccc;
	border-left: 12px solid #335;
	padding: 0.2em 0.5em;
	color: #333;
}

h2 {
	border-bottom: 3px dashed;
	color: #246;
}

section {
	border: 4px solid #ccc;
	margin: 3em 1em;
	padding: 1em;
}