@charset "UTF-8";

/* 1. text-align 수평 정렬  */

.ta01 {
	background-color: #6ee;
	text-align: left;
}
.ta02 {
	background-color: #e6e;
	width: 300px;
	text-align: center;
}
.ta03 {
	background-color: #ee6;	
	width: 300px;
	text-align: right;
}
.ta04 {
	text-align: justify;
}

.le {
	text-align: left;
}
.ce {
	text-align: center;
}
.ri {
	text-align: right;
}