@charset "UTF-8";

/* 1. text-align 수평 정렬  */
.ta01 {
	background-color: #6ee;
	text-align: left;
}

.ta02 {
	background-color: #e6e;
	width: 300px;
	text-align: center;
}

.ta03 {
	background-color: #ee6;
	width: 300px;
	text-align: right;
}

.ta04 {
	text-align: justify;
}

.le {
	text-align: left;
}

.ce {
	text-align: center;
}

.ri {
	text-align: right;
}

#tb01 {
	border: 1px solid;
	width: 500px;
}

th, td /* 그룹선택자 A, B, C ...
여러 선택자를 ,를 추가하여 동시에 불러와서
같은 스타일을 적용
(선택자종류가 서로 달라도 됨) */ {
	border: 1px solid;
}

.fw-n {
	font-weight: normal;
}

/* 2.text-decoration 글자의 줄 */
.tde01 {
	text-decoration: overline;
}

.tde02 {
	text-decoration: line-through;
}

.tde03 {
	text-decoration: underline;
}

.tde04 {
	text-decoration: none;
}

.tde04:hover /* 상태선택자 
 A:hover는 요소A에 마우스오버시의 상태를
 지정 */ {
	text-decoration: underline;
}

.p04 {
	border: 4px double;
}

.p04:hover {
	border: 4px dotted #900;
	font-size: 1.1em;
}

/* 3. text-indent 들여쓰기 */
.tin01, .tin02, .tin03, .tin04, .tin05 {
	border: 1px solid;
}

.tin01 {
	text-indent: 16px;
}

.tin02 {
	text-indent: 2em;
}

.tin03 {
	text-indent: 15%;
}

.tin04 {
	text-indent: -2em;
}

.tin04:hover {
	text-indent: 0;
}

.tin05 {
	text-indent: 10%;
}

/* 4.text-transform 
        영문 대소문자 변경 */
.ttr01 {
	text-transform: none;
}

.ttr02 {
	text-transform: lowercase;
}

.ttr03 {
	text-transform: uppercase;
}