@charset "UTF-8";

/* 1. text-align 수평 정렬  */
.ta01 {
	background-color: #6ee;
	text-align: left;
}

.ta02 {
	background-color: #e6e;
	width: 300px;
	text-align: center;
}

.ta03 {
	background-color: #ee6;
	width: 300px;
	text-align: right;
}

.ta04 {
	text-align: justify;
}

.le {
	text-align: left;
}

.ce {
	text-align: center;
}

.ri {
	text-align: right;
}

#tb01 {
	border: 1px solid;
	width: 500px;
}

th, td /* 그룹선택자 A, B, C ...
여러 선택자를 ,를 추가하여 동시에 불러와서
같은 스타일을 적용
(선택자종류가 서로 달라도 됨) */ {
	border: 1px solid;
}

.fw-n {
	font-weight: normal;
}

/* 2.text-decoration 글자의 줄 */
.tde01 {
	text-decoration: overline;
}

.tde02 {
	text-decoration: line-through;
}

.tde03 {
	text-decoration: underline;
}

.tde04 {
	text-decoration: none;
}

.tde04:hover /* 상태선택자 
 A:hover는 요소A에 마우스오버시의 상태를
 지정 */ {
	text-decoration: underline;
}

.p04 {
	border: 4px double;
}

.p04:hover {
	border: 4px dotted #900;
	font-size: 1.1em;
}

/* 3. text-indent 들여쓰기 */
.tin01, .tin02, .tin03, .tin04, .tin05 {
	border: 1px solid;
}

.tin01 {
	text-indent: 16px;
}

.tin02 {
	text-indent: 2em;
}

.tin03 {
	text-indent: 15%;
}

.tin04 {
	text-indent: -2em;
}

.tin04:hover {
	text-indent: 0;
}

.tin05 {
	text-indent: 10%;
}

/* 4.text-transform 
        영문 대소문자 변경 */
.ttr01 {
	text-transform: none;
}

.ttr02 {
	text-transform: lowercase;
}

.ttr03 {
	text-transform: uppercase;
}

.ttr04 {
	text-transform: capitalize;
}

/* 5.text-shadow 글자 그림자 */
#sec05>p {
	/* 1. 관계선택자 A>B는
 상위요소A의 바로 한단계 아래(안)에 있는
 하위요소B를 불러오는 부모자식선택자
  2. 관계선택자 A B는
 상위요소A의 아래(안)에 있는
 모든 하위요소B를 불러오는 조상자손선택자
  */
	font-size: 4em;
	font-weight: bold;
	text-align: center;
}

#sec05>h2 {
	color: #a00;
}

#sec05 i {
	font-size: 0.7em;
}

#sec05>div {
	white-space: pre;
	/* 공백처리를 소스 그대로  */
}

.tsh01 {
	text-shadow: 6px 0 0 #33a;
}

.tsh02 {
	text-shadow: 0 6px 0 #33a;
}

.tsh03 {
	text-shadow: 0 0 6px #33a;
}

.tsh04 {
	text-shadow: 3px 5px 8px #333;
}

.tsh04:hover {
	color: #fff;
}

.tsh05 {
	text-shadow: -3px -5px 8px #333;
}

.tsh06 {
	background-color: #000;
	padding: 0.5em;
	text-shadow: 0 0 10px #36fdef;
}

.tsh06:hover {
	text-shadow: 0 0 30px #fdef36;
}

.tsh09 {
	text-shadow: -3px -3px 10px #6de, 3px 3px 10px #d0e;
}